@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Upload";
}

<h2>Upload File</h2>
<p>Upload a nessus file. The result file will have a csv format.</p>
<br>

@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <p>
        @Html.Label("ReportName: ")
        @Html.TextBox("Name", null, new { @placeholder = "Nessus Report", @required = "" })
    </p>
    <p>
        @Html.Label("Report file: ")
        <input type="file" class="btn btn-default" name="file" id="file" value="Select a nessus file" accept=".nessus" required/>
        <input type="checkbox" name="NoSeverity" id="NoSeverity" value="true" />Include items with severity 0
    </p> 
    <br>

    <p><label>Include:</label></p>
    <p><input type="checkbox" name="Sinopsis" id="Sinopsis" value="true" checked disabled />Sinopsis</p>
    <p><input type="checkbox" name="Ip" id="Ip" value="true" checked disabled />Ip address</p>
    <p><input type="checkbox" name="Port" id="Port" value="true" checked disabled />Port</p>
    <p><input type="checkbox" name="Description" id="Description" value="true" checked />Description</p>
    <p><input type="checkbox" name="Solution" id="Solution" value="true" checked />Solution</p>
    <p><input type="checkbox" name="NetBios" id="NetBios" value="true" checked />NetBios name</p>
    <p><input type="checkbox" name="Protocol" id="Protocol" value="true" checked />Protocol</p>
    <p><input type="checkbox" name="Severity" id="Severity" value="true" checked />Severity</p>
    <p><input type="checkbox" name="Exploitable" id="Exploitable" value="true" checked />Exploitable</p>
    <p><input type="checkbox" name="Cve" id="Cve" value="true" checked />Cve</p>
    <p><input type="checkbox" name="Bid" id="Bid" value="true" checked />Bid</p>
    <p><input type="checkbox" name="Cvss" id="Cvss" value="true" checked />Cvss</p>
    <p><input type="checkbox" name="PlugIn" id="PlugIn" value="true" checked />PlugIn</p>
    <p><input type="checkbox" name="SeeAlso" id="SeeAlso" value="true" checked />SeeAlso</p>
    <p><input type="checkbox" name="Xref" id="Xref" value="true" checked />Xref</p>
    <p><input type="checkbox" name="OS" id="OS" value="true" checked />OS</p>
    <p><input type="checkbox" name="Mac" id="Mac" value="true" checked />Mac address</p>
    <p><input type="submit" value="Upload" /></p>
}

