@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Upload";
}

<h2>Upload File</h2>

@using (Html.BeginForm("Upload", "Upload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <p>
        <label for="file">Filename:</label>
        <input type="file" name="file" id="file" />
    </p>

    <p><input type="checkbox" name="NoSeverity" id="NoSeverity" value="true"/>Include items with severity 0</p>
    <p><input type="submit" /></p>
}

